{
  "extends": ["react-app", "react-app/jest", "airbnb", "plugin:prettier/recommended"],
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "endOfLine": "auto"
      }
    ],
    "react/jsx-key": "warn",
    "newline-before-return": "warn",
    "eqeqeq": "off",
    "prefer-object-spread": "warn",
    "react/no-direct-mutation-state": "warn",
    "prefer-template": "warn",
    "no-unused-expressions": "warn",
    "import/no-unresolved": "off",
    "import/no-cycle": "off",
    "no-unused-vars": "warn",
    "react/destructuring-assignment": "off",
    "no-console": "off",
    "camelcase": "off",
    "default-param-last": "off",
    "no-use-before-define": "warn",
    "no-underscore-dangle": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": "off",
    "import/prefer-default-export": "warn",
    "radix": "off",
    "react/prop-types": "off",
    "no-nested-ternary": "warn",
    "react/sort-comp": "off",
    "react/no-array-index-key": "warn",
    "react/no-unescaped-entities": "off",
    "react/no-access-state-in-setstate": "warn",
    "import/extensions": "off",
    "react/no-unused-state": "warn",
    "jsx-a11y/label-has-associated-control": "warn",
    "jsx-a11y/control-has-associated-label": "off",
    "jsx-a11y/alt-text": "warn",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "max-classes-per-file": "off",
    "no-case-declarations": "warn",
    "no-return-assign": ["warn", "except-parens"],
    "react/no-did-update-set-state": "warn",
    "class-methods-use-this": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "no-shadow": "warn",
    "default-case": "warn",
    "import/no-mutable-exports": "warn",
    "react/jsx-no-useless-fragment": "warn",
    "no-restricted-syntax": "off",
    "prefer-const": "warn",
    "no-useless-constructor": "warn",
    "array-callback-return": "off",
    "no-prototype-builtins": "warn",
    "no-loop-func": "warn",
    "new-cap": "warn",
    "consistent-return": "off",
    "global-require": "off",
    "jsx-a11y/anchor-is-valid": "warn",
    "react/no-string-refs": "warn",
    "no-useless-concat": "warn",
    "react/no-find-dom-node": "warn",
    "react/prefer-stateless-function": "off",
    "no-empty": "warn",
    "react/jsx-no-duplicate-props": "warn",
    "guard-for-in": "warn",
    "no-self-assign": "warn",
    "react/no-unused-class-component-methods": "warn",
    "no-dupe-keys": "warn",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "import/no-extraneous-dependencies": "warn",
    "prefer-arrow-callback": "warn",
    "react/function-component-definition": ["warn", { "namedComponents": "arrow-function" }],
    "no-restricted-exports": "off",
    "react/no-unused-prop-types": "warn"
  },
  "ignorePatterns": ["build/"]
}
